name: Update readme

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10 
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install python-leetcode 
    - name: Run update.py
      run: |
        python update.py
    - name: Commit changes
      run: |
        git config --global user.name 'soo0711'
        git config --global user.email 'soo0711@users.noreply.github.com'
        git add -A
        git diff --quiet -- README.md || git commit -am "docs: auto update README.md"
    - name: Push changes
      run: |
        git diff --quiet -- README.md || git push
