name: Update README

on:
  push:
    branches: [ "main" ]
  pull_request:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip

      - name: Run update.py
        run: python update.py

      - name: Commit and Push README
        run: |
          git config --global user.name 'soo0711'
          git config --global user.email 'soo0711@users.noreply.github.com'
          git add README.md
          git commit -m "docs: auto update README.md" || echo "No changes to commit"
          git push